{% extends 'base/base.html' %}
{% block title %}Homepage
{% endblock title %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<!-- HTML Codes by Quackit.com -->


<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h1>Homepage</h1>

{% if request.user.is_authenticated %}
   <h4>Hello {{ request.user.username|title }}</h4>
   <a href="{% url 'userauth:logout' %}">Logout</a> 
{% else %}
   <a href="{% url 'userauth:login' %}">Login</a>
   <a href="{% url 'userauth:signup' %}">Signup</a>
{% endif %}  
    
<p>welcome to my homepage</p>
</body>
</html>
{% endblock content %}